/* custom variables for main colours */
:root {
    --turq-dark: #116466;
    --turq-light: #3AAFA9; 
    --white-font: #FEFFFF;
}

/* base reset for all HTML elements on the page eliminating the default browsers values */
* { 
    margin: 0;
    padding: 0;
}

/* override box sizing for all elements */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
    box-sizing: border-box;

    /* Set font size for easy rem calculations
    * default document font size = 16px, 1rem = 16px, 100% = 16px
    * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* base styles */
body {
    font-family: 'Poppins', sans-serif;
    color: var(--white-font);
    font-size: 1.8rem; /* 18px */
    background-color: var(--turq-light);
    font-weight: 400;
    line-height: 1.4;
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 3rem;
}

img {
    display: block;
    width: 100%;
}
  

#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--turq-dark);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 0 rgba(33, 62, 54, 0.4);
    height: max(7vh, 60px);
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}

#logo {
    height: max(7vh, 60px);
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav li {
    margin: 0 10px;
    /* height: 100%; */
}

nav a {
    color: var(--white-font);
    text-decoration: none;
    display: block;
    font-size: 2rem;
    padding: 2rem 1rem;
}

nav a:hover {
    background-color: var(--turq-light);
}

section {
    display: flex;
    padding-top: 8vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#intro {
    align-items: center;
}

#intro p {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 80%;
    text-align: left;
    font-style: italic;
}

#projects .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 90vw;
}

.project-card {
    background-color: var(--turq-dark);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-card a {
    color: var(--white-font);
    text-decoration: none;
}

.project-card a:hover {
    text-decoration: underline;
}

.project-card:active {
    z-index: 10;
}

.project-tech-stack {
    font-family: "Courier New", Courier, monospace;
    font-size: small;
}

.project-image-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    overflow: hidden;
}

.project-image-container:active:not(.tbd) {
    overflow: visible;
    transform: scale(5) translateX(30%);
    transition: transform 0.5s;
}

.project-image {
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-image.tbd {
    object-fit: scale-down;
}

.project-image:active:not(.tbd) {
    object-fit: contain;
}

#contacts {
    height: 80vh;
}

#contacts a {
    color: var(--white-font);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contacts p a:hover {
    background-color: var(--turq-dark);
}

#email_image {
    width: 20%;
}

#email_image:hover {
    width: 30%;
}

footer {
    font-style: italic;
    text-align: center;
    margin-top: 50px;
    padding: 2rem;
    border-top: 0.5px dashed var(--turq-dark);
}

@media (max-width: 768px) {
    #header {
        display: none;
    }

    #projects {
        margin-top: 10vh;
        margin-bottom: 10vh;  
    }

    body {
        font-size: 18px;
    }

    .project-image-container:active:not(.tbd) {
        overflow: visible;
        transform: scale(2) translateX(10%);
        transition: transform 0.5s;
    }

    #contacts {
        margin-top: 30vh;
    }
}

@media (max-width: 500px) {
    
    section {
        height: 50vh;
        display: block;
        flex-grow: 1;
    }

    #intro h2 {
        text-align: center;  
    }
    
    #projects .grid {
        grid-template-columns: 1fr;
    }

    #projects {
        margin-bottom: 100vh;  
    }

    .project-image-container:active:not(.tbd) {
        overflow: hidden;
        transform: none;
    }

    #contacts h2 {
        text-align: center;
        padding-bottom: 30px;
    }
    
    #contacts {
        margin-top: 40vh;
        height: 40vh;
    }
}


@media (max-height: 300px) {
    #projects {
        margin-top: 10vh;
        margin-bottom: 10vh;  
    }
}